<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <title>Injective Snapshot</title>
</head>

<body class="font-[Inter]">
  <div class="home w-full h-screen flex flex-col justify-center items-center bg-[#EAEAEA]">
    <div
      class="section flex flex-col md:p-11 py-4 md:py-16 xl:py-32 bg-norepeat bg-cover bg-[url(../image\ 2.png)] relative w-[95%] md:w-[85%] box-border rounded-[3rem]">
      <!-- <span class="bg-img w-full absolute z-10 bg-[#dfd8d827] h-full rounded-[3rem]"></span> -->
      <div class="top relative z-20 p-10 w-full xl:w-[75%]">
        <h2 class=" text-3xl xl:text-5xl font-bold my-3 text-[#343FF5] font-[Inter]">Get Holders Snapshot</h2>
        <h2 class=" text-3xl xl:text-5xl font-bold my-3 text-[#000000] font-[Inter]">Injective Chain</h2>
        <p class="my-10 w-full text-xl">Effortlessly send ZigCoin (ZIG) tokens to multiple addresses in one transaction. Save
          time and streamline your airdrops with our easy-to-use, secure multi-sender platform, designed for the
          Injective blockchain.</p>
        <a href="/snapshot_page"><button
            class="my-12 p-2 text-white w-32 bg-[#343FF5] font-[Inter] rounded-md text-xl font-semibold">Launch</button></a>
      </div>
      
    </div>
    <div class="footer self-center my-4 z-20">
      <span class = "text-[#a7a6a6]">Powerd By</span> <img
        src="../static/image 5.png"
        width="25px" class="img inline mx-1" alt="">
    </div>
  </div>
</body>

</html>